{% load static %}
<!-- Footer -->
	<div id="footer">
		<div class="inner">
			<ul class="link">
				<li><a href="#" target="_blank">인재채용</a></li>
				<li><a href="#" target="_blank">이용약관</a></li>
				<li><a href="#" target="_blank">개인정보처리방침</a></li>
			</ul>
			<div class="company_info">
				<p>
					<span style="color: white; font-weight: bold;">포엠에듀 주식회사</span>
					<span>(06733) 경북 포항시 남구 지곡로 253, 102동 205호 </span>
					<span>사업자등록번호 : 326-81-00707</span>
				</p>
				<p>
					<span>대표이사 : 허준성</span>
					<span>개인정보보호책임자 : 신동선</span>
					<span>Tel: 054-273-9779</span>
				</p>
			</div>
			<p class="copy">copyright ⓒ POM EDUCATION Co.,Ltd. All rights Reserved.
			<p class="logo"><img src="{% static 'assets/img/logo/pom_logo(w).png' %}" alt="포엠학원"></p>
		</div>
	</div>

	<!-- //Footer -->