{% load static %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:master@pomedu.page" >master@pomedu.page</a>
        <i class="bi bi-phone"></i> 010-2029-4902
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="https://www.youtube.com/channel/UCg-0_alWZVPtlosSpzPK2Kg" class="youtube"><i class="bi bi-youtube"></i></a>
<!--        <a href="{% url 'accounts:login' %}"> 로그인 </a>-->
<!--        <a href="{% url 'accounts:register_pre' %}"> 회원가입 </a>-->
        <a href="#"> 강사모집 </a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">포엠학원</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home:home' %}#about">학원안내</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#teachers">강사진</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#presentations">설명회</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#pomlife">학원생활</a></li>
<!--          <li class="dropdown"><a href="#"><span>지점</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#" target="_blank">포항 지곡&아우름점</a></li>-->
<!--              <li><a href="#" target="_blank">포항 북구점</a></li>-->
<!--              <li><a href="#" target="_blank">부산 센텀점</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#branch">오시는 길</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->