{% block content %}

<div class="modal fade" id="Presentation_Apply_Modal" tabindex="-1" aria-labelledby="presentationapplyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="presentationapplyModalLabel">설명회 예약</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'presentations:presentation_apply_create' %}" method="post">
                <div class="modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <input type="submit"  class="btn btn-primary">
                </div>
                <input type = "hidden" name = "presentation_pk" value = "{{ target_presentation.pk }}">
            </form>
        </div>
    </div>
</div>

{% endblock %}